.profile-img{
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}


.friend-count, .grandchild-count{
    font-size: 40px;
    font-weight: 700;
}

.navbar-toggler{
    margin-top: 57px;
}
